.idea
merchant-galaxy-gpt-4/.idea
merchant-galaxy-gpt-4/.mvn
merchant-galaxy-gpt-4/target

number-to-word-gpt4/.idea
number-to-word-gpt4/.mvn
number-to-word-gpt4/target

trade-gpt-4/.idea
trade-gpt-4/.mvn
trade-gpt-4/target

trade-postgres-gpt-4/.idea
trade-postgres-gpt-4/.mvn
trade-postgres-gpt-4/target






